            <!-- Start Blog categories widget -->
            <div class="widget widget-categories">
                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>Blog Categories</span>
                    </h3>
                </div>
                
                <ul>
                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <a [routerLink]="['/blog']" [queryParams]="{ 'category': 'blog' }">Blog</a>
                        <a [routerLink]="['/blog']" [queryParams]="{ 'category': 'blog' }" class="cat-counter">(4)</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <a [routerLink]="['/blog']" [queryParams]="{ 'category': 'news' }">News</a>
                        <a [routerLink]="['/blog']" [queryParams]="{ 'category': 'news' }" class="cat-counter">(0)</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <a [routerLink]="['/blog']" [queryParams]="{ 'category': 'charity' }">Charity</a>
                        <a [routerLink]="['/blog']" [queryParams]="{ 'category': 'charity' }"class="cat-counter">(0)</a>
                    </li>
                </ul>
                
            </div>
            <!-- End Blog categories widget -->