<!-- Start Header Section -->
<div class="banner">
    <div class="overlay">
        <div class="container">
            <div class="intro-text">
                <h1>Welcome To The <span>Great Sulfur</span></h1>
                <p>Ride the flame that <br> brings light to the world</p>
                <a href="#feature" class="page-scroll btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->


<app-about-us-section [detail]="false"></app-about-us-section>
<app-action-call-section></app-action-call-section>
<app-team-member-section></app-team-member-section>
<a aria-hidden id="feature"></a>
<app-offered-services-section></app-offered-services-section>
<app-testimonial-section></app-testimonial-section>
<app-client-section></app-client-section>

