<!-- Start Client Section -->
<div id="client-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="client-box">
                    <ul class="client-list">
                        <li><a href="#"><img src="/assets/images/clients/client1.png" class="img-responsive" alt="Clients Logo"></a></li>
                        <li><a href="#"><img src="/assets/images/clients/client2.png" class="img-responsive" alt="Clients Logo"></a></li>
                        <li><a href="#"><img src="/assets/images/clients/client3.png" class="img-responsive" alt="Clients Logo"></a></li>
                        <li><a href="#"><img src="/assets/images/clients/client4.png" class="img-responsive" alt="Clients Logo"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- End Client Section -->