<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->





<!-- Start Blog Page Section -->
<div class="container">
    <div class="row">
        
        <!-- Start Blog Body Section -->
        <div class="col-md-8 blog-body">
            
            @for (post of posts; track post) {
                <app-post-summary [post]="post"></app-post-summary>
            }
            @empty {
                <p>No posts have been written up yet!</p>
            }
            
            
            <!-- Start Pagination -->
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Start">Start</a></li>
                    <li class="disabled"><a href="#" aria-label="Previous">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">Next</a></li>
                    <li><a href="#">End</a></li>
                </ul>
            </nav>
            <!-- End Pagination -->
            
        </div>
        <!-- End Blog Body Section -->
        
        <!-- Start Sidebar Section -->
        <div class="col-md-4 sidebar right-sidebar">
            <app-recent-post></app-recent-post>
            
            <app-blog-category></app-blog-category>

            <app-tag-list></app-tag-list>
        </div>
        <!-- End Sidebar Section -->
    </div>
</div>
<!-- End Blog Page Section -->