<header class="clearfix">
        
        
    <!-- Start  Logo & Naviagtion  -->
    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a class="navbar-brand" href="/">Sulfur<span style='color: #333;'>Farm</span></a>
            </div>
            <div class="navbar-collapse collapse">
                
                <!-- Start Navigation List -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a routerLinkActive="active" [routerLink]="'/about'">About Us</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" [routerLink]="'/blog'">Blog</a>
                    </li>
                </ul>
                <!-- End Navigation List -->
            </div>
        </div>
    </div>
    <!-- End Header Logo & Naviagtion -->
    
</header>
